@charset "UTF-8";

@font-face {
    font-family: 'bebas';
    src: url('fonts/bebas_neue/BebasNeue-Regular.otf') format(opentype);
    font-weight: normal;
    font-style: normal;    
}
@font-face{
    font-family: idroid;
    src: url('fonts/idroid/IDroid\ Bold.otf') format(opentype);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding-bottom: 5px;
}

header{
    background-image: linear-gradient(to bottom, #2FA866, #063D1E);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    box-shadow: 1px 2px 10px black;
    
}


nav{text-align: left;}

body{
    background-color: #3ddc8588;
}

main{
    background-color: white;
    width: 835px;
    margin: auto;
    box-shadow: 1px 2px 20px black;
    border-radius: 0px 0px 8px 8px;
    
    
       

}
.primeiro{
    margin: 0 16px 0 16px;
}

.segundo{
    margin: 0 16px 0 16px;
}
main>h1{
    margin: 0px 16px 0px 16px;
    color: #006d2f;
    font-family: 'idroid';

}
h2{
    margin: 0 16px 0 16px;
    font-family: 'idroid';
    color: #006d2f;
    background-image: linear-gradient(to right, rgb(167, 208, 167), rgba(106, 168, 106, 0.401),
     rgba(210, 220, 210, 0.266));
     padding-left: 7px;
    
}
p{
    margin: 0 16px 0 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}
header>h1{
    font-family: 'bebas';
}
video{
    
    background-color: rgb(3, 88, 3);
    padding: 12px 26px 12px 26px;
    width: 100%;
}
h3{
    background-color: rgb(2, 110, 2);
    width: 85%;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    color: white;
    
}

.pdois{
    background-color: rgba(174, 209, 196, 0.864);
    width: 85%;
    margin: auto;
    padding: 8px;
    

}

ul{
   columns: 2;
   background-color: rgba(174, 209, 196, 0.864);
   width: 85%;
   margin: auto;
   
    
}
.ptres{
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(174, 209, 196, 0.864);
    width: 85%;
    margin: auto;
    padding: 8px;
}
footer{
    background-color: #063D1E;
    color: white;
    text-align: center;
    margin: 15px 0px;
    height: 5px;
    padding-bottom: 50px;
    
}
.pquatro{
    width: 85%;
    margin: auto;
    padding: 8px;
    padding-bottom: 30pxP;
}














  









